/* .bg-image{
    background-image: url(../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    max-width: 500px;
    min-height: 200px;
} */